<h1><%= t('order.main_header') %></h1>

<div class="float-left main-order-container">
  <table width="100%">
    <tr>
      <th><%= t('lable.dish') %></th>
      <th><%= t('label.quantity') %></th>
      <th><%= t('label.price') %></th>
    </tr>
    <% @order.shopping_cart_items.each do |order_item| %>
      <tr id="<%= "order_row_#{order_item.item.id}" %>">
        <td><%= order_item.item.name %></td>
        <td style="width: 130px; text-align: center;"><%= order_item.quantity %></td>
        <td style="white-space: nowrap; width: 130px; text-align: right;"><%= humanized_money_with_symbol(order_item.quantity * order_item.price) %></td>
      </tr>
    <% end %>
  </table>
  <br>
  <span class="float-right">
    <div><%= t('order.subtotal') %> <%= humanized_money_with_symbol @order.subtotal %></div>
    <div><%= t('order.tax') %> <%= humanized_money_with_symbol @order.taxes %></div>
    <div><strong><%= t('order.total') %> <%= humanized_money_with_symbol @order.total %></strong></div>
  </span>
</div>

<br>


<div class="clear">&nbsp;</div>
<hr>
<%= form_for @order do |f| %>
  <%= label_tag(:cutlery_quantity, 'Do you need cutlery?') %>
  <%= number_field_tag :cutlery_quantity %>
  <%= f.hidden_field :status, placeholder: 'Status', value: 'submitted' %>
  <% if Dish.find_by(name: "Cutlery") %>
    <% if @order.shopping_cart_items.find_by(item_id: Dish.find_by(name: "Cutlery").id) %>
      <%= f.submit 'Remove Cutlery', class: 'button float-right', id: 'remove_cutlery' %>
    <% end %>
  <% end %>
  <%= f.submit 'Add Cutlery', class: 'button float-right', id: 'add_cutlery' %>
<% end %>


<%= form_for @order do |f| %>
  <div class="float-left order-container">
    <h4><%= t('order.allergy_header') %></h4>
    <p><%= t('order.allergy_body') %></p>
    <%= f.text_area :allergies, placeholder: 'Allergies', cols: 50, rows: 6 %>
  </div>

  <div class="float-left order-container">
    <h4><%= t('order.delivery_info_header') %>:</h4>
    <%= f.datetime_field :delivery_date, placeholder: t('delivery_date'), class: 'input-wide' %>
    <br>
    <%= f.radio_button(:delivery_method, 'pickup') %>
    <%= label_tag(:delivery_method_pickup, t('order.delivery_pickup').html_safe) %>
    <br>
    <%= f.radio_button(:delivery_method, 'delivery') %>
    <%= label_tag(:delivery_method_delivery, t('order.delivery_deliver').html_safe) %>
  </div>

  <div class="clear">&nbsp;</div>

  <div class="float-left order-container">
    <h4><%= t('order.delivery_info_header') %>:</h4>
    <%= f.text_field :billing_name, placeholder: t('order.billing_name'), class: 'input-wide', required: true %>
    <%= f.text_field :billing_company, placeholder: t('order.billing_company'), class: 'input-wide', required: true %>
    <%= f.text_field :billing_org_nr, placeholder: t('order.billing_org_number'), class: 'input-wide', required: true %>
    <%= f.text_field :billing_address, placeholder: t('order.billing_address'), class: 'input-wide', required: true %>
    <%= f.text_field :billing_postal_code, placeholder: t('order.billing_postal_code'), class: 'input-small', required: true %>
    <%= f.text_field :billing_city, placeholder: t('order.billing_city'), class: 'input-medium', required: true %>
    <%= f.text_field :billing_phone, placeholder: t('order.billing_contact_phone'), class: 'input-wide', required: true %>
    <%= f.text_field :billing_email, placeholder: t('order.billing_email'), type: :email, class: 'input-wide', required: true %>
  </div>

  <div id="delivery_address_fields" class="float-left order-container">
    <h4><%= t('delivery_header') %>:</h4>
    <%= f.text_field :delivery_name, placeholder: t('order.delivery_name'), class: 'input-wide', required: true %>
    <%= f.text_field :delivery_address, placeholder: t('order.delivery_address'), class: 'input-wide', required: true %>
    <%= f.text_field :delivery_postal_code, placeholder: t('order.delivery_postal_code'), class: 'input-small', required: true %>
    <%= f.text_field :delivery_city, placeholder: t('order.delivery_city'), class: 'input-medium', required: true %>
    <%= f.text_field :delivery_floor, placeholder: t('order.delivery_floor'), class: 'input-wide', required: true %>
    <%= f.text_field :delivery_door_code, placeholder: t('order.delivery_door_code'), class: 'input-wide', required: true %>
    <%= f.text_field :delivery_contact_name, placeholder: t('order.delivery_contact_name'), class: 'input-wide', required: true %>
    <%= f.text_field :delivery_contact_phone_number, placeholder: t('order.delivery_contact_phone'), class: 'input-wide', required: true %>
  </div>

  <div class="clear">&nbsp;</div>

  <div class="float-right order-container">
    <%= f.hidden_field :status, placeholder: 'Status', value: 'submitted' %>
    <%= f.submit t('order.submit_order_button'), class: 'button float-right' %>
  </div>

<% end %>

<script type="text/javascript">

    var pickup_information = [
        'order_billing_name',
        'order_billing_company',
        'order_billing_org_nr',
        'order_billing_address',
        'order_billing_postal_code',
        'order_billing_city',
        'order_billing_phone',
        'order_billing_email',
        'order_allergies',
        'order_delivery_date'
    ];
    var delivery_information = [
        'order_delivery_name',
        'order_delivery_address',
        'order_delivery_postal_code',
        'order_delivery_city',
        'order_delivery_floor',
        'order_delivery_door_code',
        'order_delivery_contact_name',
        'order_delivery_contact_phone_number'
    ];

    function delivery_required(status) {
        delivery_information.forEach(function (obj) {
            document.getElementById(obj).required = status;
        })
    }

    function setStorage(obj) {
        var element_value = document.getElementById(obj).value;
        sessionStorage.setItem(obj, element_value);
    }

    function saveData() {
        pickup_information.forEach(function (obj) {
            setStorage(obj);
        });
        if (document.getElementById('delivery_address_fields')) {
            delivery_information.forEach(function (obj) {
                setStorage(obj);
            })
        }
    }

    function loadData() {
        pickup_information.forEach(function (obj) {
            document.getElementById(obj).value = sessionStorage.getItem(obj)
        });
        if (document.getElementById('delivery_address_fields')) {
            delivery_information.forEach(function (obj) {
                document.getElementById(obj).value = sessionStorage.getItem(obj)
            })
        }
    }

    if (sessionStorage.getItem('order_billing_name') !== '') {
        loadData();
    }

    if (sessionStorage.getItem('radio_button') === 'order_delivery_method_delivery'
        || sessionStorage.getItem('radio_button') === 'order_delivery_method_pickup') {
        document.getElementById(sessionStorage.getItem('radio_button')).checked = true;
        if (sessionStorage.getItem('radio_button') === 'order_delivery_method_pickup') {
            document.getElementById('delivery_address_fields').hidden = true;
        }
    } else {
        document.getElementById('order_delivery_method_delivery').checked = true;
        sessionStorage.setItem('radio_button', 'order_delivery_method_delivery');
    }

    var add_cutlery = document.getElementById('add_cutlery');
    var remove_cutlery = document.getElementById('remove_cutlery');

    add_cutlery.onclick = saveData;
    if (remove_cutlery) {
        remove_cutlery.onclick = saveData;
    }

    var delivery_radio_button = document.getElementById('order_delivery_method_delivery');
    var pickup_radio_button = document.getElementById('order_delivery_method_pickup');

    delivery_radio_button.onclick = function () {
        document.getElementById('delivery_address_fields').hidden = false;
        sessionStorage.setItem('radio_button', 'order_delivery_method_deliver');
        delivery_required(true);
    };
    pickup_radio_button.onclick = function () {
        document.getElementById('delivery_address_fields').hidden = true;
        sessionStorage.setItem('radio_button', 'order_delivery_method_pickup');
        delivery_required(false);
    }
</script>